//colors

$backgroundColor:linear-gradient(to right, #414345, #232526);




//font
$fontVars:(
"size": 1.6rem,
"font": 'Roboto', 
"color": #3C4048
);

//tasks

$tasksVars: (
    "background": #DDDDDD,
);







$labelvars:(
    "default" : #379237, 
    "light-blue" :#4FA095,
    "gray" :#3C4048 ,
    "purple": #8D72E1,
    "orange": #FF731D
)