$blue: #16213E;
$transparant_blue:rgba(20, 40, 80, 0.7);
$font-color: #eee;

$rose:#E94560;


$border: 0.5rem solid $rose;
$border-small: 0.2rem solid $rose;
$smallest-border:0.1rem solid #E94560;

$gradient: linear-gradient(to bottom right, rgba(22, 33,63,0.8), 80%, rgba(233,69,96,0.5));