@use 'colors';
@use 'fonts';
@use 'components';


.header{
    height: 100vh;
    position: relative;
}

.header__figure{
    height: 100%;
    width: 100%;
    background-image:  colors.$gradient, url("../img/molens.webp");
    object-fit: contain;
    background-position: bottom;
    background-size: cover;
}

.header__figure > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    color: colors.$font-color;
    text-align: center;
}

.header__logo{
    
    font-size: 250%;
    border: colors.$border;
    border-radius: 50%;
    padding: 1.5rem;
}

.header__h1{
    font-family: fonts.$cursive;
    font-size: 500%;
}

.header__h2{
    @extend %h2;
}

.header__button{
    @extend %btn;

}