@use 'colors';
@use 'components';


.nav{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    min-height: 7rem;
    align-items: center ;
    color: colors.$font-color;
    background: colors.$transparant_blue;
    padding: 2rem;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    
}

.nav__logo{

    font-size: 250%;
    border: colors.$border;
    border-radius: 50%;
    padding: 1.5rem;
    
    
}

.nav__list{
    display: flex;
    list-style: none;
    gap: 4rem;
    cursor: pointer;

}


.nav__button{
    @extend %btn ;
}
